@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(135deg, #80ff84 0%, #5190fc 100%);
    color: white;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container {
    text-align: center;
    max-width: 500px;
    width: 90%;
    padding: 2.5rem;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.042);
    z-index: 2;
    animation: fadeIn 1s ease-out;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    background: rgb(255, 139, 23);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    margin: 0.8rem 0;
    font-size: 1.1rem;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.9);
}

a {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

a:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.logo-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.8;
}

.logo-container img {
    width: 100px;
    height: 65px;
}

/* Img doggy */
.logo-container-doggy {
    position: fixed;
    opacity: 0.8;
}

.logo-container-doggy img {
    width: 300px;
    height: 300px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 480px) {
    .container {
        padding: 2rem;
    }

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1rem;
    }

    a {
        padding: 0.8rem 2rem;
    }
}